In [2]:
import pandas as pd 
import requests

In [8]:
response = requests.get('https://isro.vercel.app/api/spacecrafts')

In [30]:
df = pd.DataFrame(response.json()['spacecrafts'])

In [34]:
df = df.set_index('id')

In [36]:
df

                                name
id
1                          Aryabhata
2                         Bhaskara-I
3    Rohini Technology Payload (RTP)
4              Rohini Satellite RS-1
5             Rohini Satellite RS-D1
..                               ...
108                       RISAT-2BR1
109                          GSAT-30
110                           EOS-01
111                           CMS-01
112                           EOS-03

[112 rows x 1 columns]

In [38]:
df.to_csv('Isro_spacecrafts.csv')